@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,300;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  font-family: "Roboto", sans-serif;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  background-color: "#fffdfd";
}

a {
  text-decoration: none;
  color: black;
}
h3 {
  font-size: 1.3rem;
}
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  transition: 0.3s;
  z-index: 5;
  background-color: rgb(207, 219, 219);
  display: flex;
  justify-content: space-evenly;
}

footer {
  background-color: rgb(207, 219, 219);
  text-align: center;
}

nav {
  display: flex;
  padding: 0;
  margin: 0;
}

.linkListTitle {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
}
.linkListTitle li {
  padding-top: 0.3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 1.5rem;
}
.linkListTitle li a {
  text-decoration: none;
}
.linkListTitle li a:hover,
.linkListTitle li a.active {
  color: rgb(142, 128, 128);
}

section {
  min-height: 100vh;
  padding-top: 2.5rem;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
}

.home {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  /* 
  background-color: yellow; */
  /* gap: 2rem; */
  /* padding: 2rem; */
}

.home .image_view {
  flex-basis: 5;
  /* background-color: pink; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home img {
  /* height: 400px; */
  width: 60%;
  border-radius: 40rem;
}
.into__header {
  line-height: 3rem;
  font-size: 1.6rem;
}
.into__header strong span {
  color: #007bff; /* Example: blue color */
  /* font-weight: bold; /* Optional: Make the text bold */
  /* font-size: 2.2rem; Increase font size  */
}
.img {
  flex-basis: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home article {
  flex-basis: 5;
  text-align: center;
  width: 100%;
}

/* .welcome__info {
  flex-basis: 0.5;
  padding-left: 2rem;
  text-align: center;
} */
.welcome__info h1 {
  font-style: italic;
  font-weight: 500;
}
.welcome__info h2 {
  font-weight: 5 00;
  margin-top: 0.5rem;
}
.welcome__info p {
  margin-top: 0.5rem;
}
.welcome__info .media_buttons button {
  width: 120px;
  height: 35px;
  border-radius: 1.5rem;
}
.welcome__info .media_buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.download_cv {
  margin-right: 1rem;
}
.welcome__info .media_buttons a {
  margin-left: 0.5rem;
  align-items: center;
}

.welcome__info .media_buttons a img {
  width: 50px;
  height: 35px;
}

.about {
  text-align: center;
}
.about .skill__set {
  margin-top: 2%;
  display: flex;
}
.about h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.career__motivatio p {
  font-style: oblique;
}
.about .skill__set .computational_skils {
  align-items: center;
  justify-content: center;
  justify-items: center;
  flex-basis: 0.5;
  width: 100%;

  /* border-right: 2px solid rgb(207, 219, 219); */
}

.skillsets {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: start;
  width: 100%;
  border-right: 2px solid rgb(207, 219, 219);
}

.skillsets ul,
.softskills ul {
  list-style: none;
}

.skillsets ul,
.softskills ul {
  width: 100%;
  padding-left: 1rem;
  margin: 1.5rem 0 1.5rem 0;
}

.skillsets ul li,
.softskills ul li {
  display: flex;
  padding-bottom: 0.5rem;
}

.skillsets ul li p,
.softskills ul li p {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.02rem;
}
.about .skill__set .softskills {
  text-align: center;
  flex-basis: 0.5;
  width: 100%;
  /* margin-left: 1rem; */
}
.about h2 {
  text-decoration: underline;
}
.about .skill__set .softskills ul {
  text-align: start;
}
.about .skill__set img {
  margin-right: 0.5rem;
}

/* History section */

.history__info {
  display: flex;
}
.history__info h2 {
  text-align: center;
  margin-right: 15%;
  margin-bottom: 10%;
}
.history__info h3 {
  text-align: center;
}
.work__history,
.education__history {
  width: 100%;
  flex-basis: 0.5;
  text-indent: 10%;
  /* background-color: red;
  gap: 2rem; */
}
.work__history p,
.education__history p {
  font-size: 0.9rem;
}
.exprience__category {
  border-right: 2px solid rgb(207, 219, 219);
}
.history__exprience li {
  list-style: none;
  margin-top: 2rem;
}
.history__exprience h4 {
  margin-bottom: 0.4rem;
}
.history__exprience p {
  color: rgb(53, 19, 19);
}
.history__exprience img {
  margin-right: 1rem;
}

@keyframes location_animation {
  50% {
    transform: scale(1.2) rotate(15deg);
  }
}
@keyframes calender_animation {
  50% {
    transform: scale(1.2);
  }
}

.location__svg__class {
  transition: 0.3s;
  animation: location_animation 6s infinite;
}
.svg__class {
  animation: calender_animation 6s infinite;
}

@media screen and (max-width: 1200px) {
  .home {
    flex-direction: column;
    justify-content: flex-start;
  }

  .image_view {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .skill__set,
  .history__info {
    flex-direction: column;
  }
}

@media screen and (max-width: 720px) {
  body {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .navbar {
    display: none;
  }
  nav {
    display: none;
  }
  /* .home {
    justify-content: space-evenly;
  } */

  .home {
    display: flex;
    gap: 0;
  }
  .image_view {
    /* margin-bottom: 1rem; */
    margin: 0;
  }
  .home img {
    /* height: 400px; */
    width: 100%;
    border-radius: 0 0 10% 10%;
  }
  .home .welcome__info {
    width: 100%;
    padding: 0;
    margin: 0;
    flex-basis: 5;
    text-align: center;
    /* justify-content: space-evenly; */
  }
  .skillsets ul,
  .softskills ul {
    margin-left: 0;
    padding: 0;
    align-items: center;
    /* background-color: yellowgreen; */
    /* width: 100%; */
    padding-left: 1rem;
  }
  .history__info {
    gap: 2rem;
  }
  /* .about,
  .history {
    font-size: small;
    font-weight: 300;
  } */
  /* footer {
    width: 100vw;

    display: block;
  } */
  .work__history,
  .education__history {
    width: 100%;
    flex-basis: 0.5;
    text-indent: 5%;
  }
}
