*{
    padding: 0;
    margin: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}
body{
    padding: 0;
    margin: 0;   
    width: 100%;
    background-color: powderblue;
}
a{
    text-decoration: none;
    color: black;
}
.navbarDiv{
    /* border: 5px solid red; */
    width: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    transition: .3s;
    z-index: 5;
    background-color: rgb(148, 184, 196);
    /* background: rgb(255, 255, 255);
    background: linear-gradient(to right bottom,rgba(255, 110, 110, 0),rgba(120, 7, 143, 0.2));
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(2rem); */
}
.navbarDiv.stickyHeader{
    background-color: blue;
}
.navbarDiv .navbar{
    display: flex;
    padding: 0;
    margin: 0;

}
.navbarDiv .navbar .myName{
    /* border: 3px solid purple;  */
    flex-basis: 50%;
    justify-content: flex-start;
}
.navbarDiv .navbar .myName .navbarName{
    padding: 0 0  0 3rem;
    margin: 0;

    font-size: 2rem;
}
.navbarDiv .navbar .linkList{
    
    /* border: 3px dashed orangered; */
    flex-basis: 50%;
   
}
.linkListTitle{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    
}
.linkListTitle li{
    padding-top: 0.3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.5rem;

}
.linkListTitle li a{
    text-decoration: none;
}
.linkListTitle li a:hover,
.linkListTitle li a.active{
    color: red;
}

section{
    min-height: 100vh;
    padding-top: 2.5rem ;

    /* background: white;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.6),rgba(255,255,255,0.2));
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(2rem);
    width: 80%;
    border-radius: 1rem;
    overflow: hidden; */
}


.home .welcome__info{
    /* border: 5px solid blue; */
}
